body {
  background-color: #e6ffff;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
  text-align: center;
  font-family: Roboto;
  word-spacing: 0.3em;
  font-weight: 100;
}

.moneyshot{
  margin: auto;
    width: 50%;
    border: green;
    border-style: dashed;
}

.subheader {
  margin: 0 auto;
  text-align: center;
  font-family: Roboto;
}

.meatbody {
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
}

.quotes {
  font-family: Roboto;
}

.form {
  font-family: sans-serif;
  text-align: center;
  border: solid black;
  padding: 30px;
  font-weight: 100;
}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
